main {
    max-width: 600px;
    margin: auto;
}
h1 {
    font-weight: 200;
    font-size: 40px;
}
div {
    padding: 30px;
    background-color: #eee;
    text-align: center;
}
p {
    font-size: 18px;
    line-height: 30px;
    margin: auto;
}

.pos-pg {
    font-size: 22px;
}
.fixed-div {
    position: fixed;
    top: 0;
    left: 0;
}
.lorem-pg {
    margin: 20px auto;
}
.relative-div {
    position: relative;
    height: 220px;
}
.absolute-div {
    position: absolute;
    bottom: 0px;
    right: -35px;
    background-color: #999;
}